SECRET=clave_secreta_para_jwt
DB_PROVIDER=postgres
DATABASE_URL=postgresql://usuario:password@host.neon.tech/neondb?sslmode=require
DB_USER=usuario
DB_PASS=password
DB_HOST=host.neon.tech
DB_NAME=neondb
